.jumbotron .container{
	color: black;
	text-align: center;
}

.jumbotron .container h1 {
	padding-top: 20px;
	color: white;
}

h1, h2 {
	font-family: 'Bitter', serif;
}

.jumbotron .container p {
	color: rgb(222,170,100);
	font-size: 26px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#header {
	background-image: url("img/pattern2.png");
	box-shadow: inset 90px 0px 150px -70px rgba(144,94,173,.5), inset -90px 0px 150px -70px rgba(144,94,173,.5);
}

.img-rounded {
	height: 150px;
	width: 150px;
}

#quote {
	background-image: url("img/rainleaf2.jpg");
	background-size: cover;
	box-shadow: inset 0px 20px 20px -20px rgba(0,0,0,0.95), inset 0px -20px 20px -20px rgba(0,0,0,0.95);
	height: 180px;
}

#quotea {
	font-family: 'Rokkitt', serif;
	color: #ffffff;
	text-align: right;
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 3px;
	text-shadow: 5px 1px 5px #000000;
}

#quotep {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
	font-size: 25px;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-shadow: 5px 1px 5px #000000;
}

#webeng {
	padding-bottom: 20px;
	text-align: center;
}