#content {
	padding-top: 100px;
}

.impressum {
	background-image: url("img/pati.png");
	color: black;
	padding: 20px;
	border: 2px solid;
    border-radius: 25px;
    font-size: 20px;
}

.impressum p {
	font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
	color: rgb(190,140,70);
	letter-spacing: 4px;
	/*font-family: 'Bitter', serif;*/
}

h1 {
	color: white;
}

/* unvisited link */
a:link {
    color: gray;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
	text-decoration: none;
    color: white;
}

/* selected link */
a:active {
	text-decoration: none;
    color: white;
}